<div class="border-t-3 border-primary full-height flex-col">
  <nav class="navbar navbar-brand">
    <div class="container">
      <div class="navbar-content">
        <div>
          <a class="" href="/">

          </a>
        </div>
        <div *ngIf="!currentUser" class="navbar_buttons">
          <a routerLink="/signup" class="m-xs-r-6 link-brand">Sign up</a>
          <a routerLink="/signin" class="btn btn-primary-outline">Sign In</a>
        </div>
        <div *ngIf="currentUser">
          <span>Hi, {{currentUser.username}}</span>
          <button class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>
</div>
