<!--Design refer to https://dribbble.com/shots/3069045-Sign-Up-form-->
<div class="container">
  <div class="row">
  </div>
  <div class="mt-5 mb-5 row justify-content-center">
    <div class="col-8" style="background-color: #ffffff;border-radius: 10px;">
      <div class="row">
        <div class="col-6">
          <h3 class="text-center mt-3">Sign IN</h3>
          <div class="mt-3 text-center font_14">Enter your email address to login in your account on Loafer</div>
          <div *ngIf="message">
            <ngb-alert [type]="type" [dismissible]="false">{{message}}</ngb-alert>
          </div>
          <!--form start-->
          <form class="mt-3"  method="post" (submit)="loginFrom.form.valid && login()" #loginFrom="ngForm" name="login-form" novalidate>

            <div class="form-group">
              <label for="username" class="font_14">Username or Email</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="username or email" autocomplete="off"
                     [(ngModel)]="model.username" #username="ngModel" required>
            </div>

            <div class="form-group">
              <label for="password" class="font_14" ><span
                class="mr-2">Password</span><a href=""><span>Forgot?</span></a></label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Your password" autocomplete="off"
                     [(ngModel)]="model.password" #password="ngModel" required>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="loading || loginFrom.form.invalid" class="btn btn-default">Sign In</button>
              <img *ngIf="loading" src="" />
            </div>
          </form>
          <!--form end-->

          <hr class="" style="border-top: 1px solid #f2f2f2">
          <div class="text-right mt-3 mb-3"> Not a member? <a href="#" routerLink="/account/register"><i
            class="fa fa-hand-o-right mr-2"></i>Sign up now</a></div>

        </div>
        <div class="col-6 register_bg">
          <h2 class="text-center" style="margin-top: 40%">Loafer</h2>
          <h4 class="text-center"><i class="fa fa-at"></i>share yourself</h4>
        </div>

      </div>

    </div>
  </div>
</div>
