<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">ROYSMOND✨</a>
    </div>
    <div class="collapse navbar-collapse" id="">
      <ul class="nav navbar-nav">
        <form class="navbar-form navbar-left" action="">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="glyphicon glyphicon-search" style="left: -28px;color: #999;"></span>
          </div>
        </form>
        <li><a href="#" routerLink="/"><span class="glyphicon glyphicon-th-list"></span> 发现</a></li>
        <li><a href="#" routerLink="/topic"><span class="glyphicon glyphicon-file"></span> 话题</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">. . .</a>
          <ul class="dropdown-menu">
            <li><a href="#">更多1</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">更多2</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-primary navbar_btn" role="button" href="#" routerLink="/login">登陆</a></li>
        <li><a class="btn btn-info navbar_btn" role="button" href="#" routerLink="/register">注册</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
