<div class="container my-5">
  <div class="col row justify-content-center">
    <div class="col-11">
      <div class="row" style="border-bottom: 1px solid rgba(0,0,0,.1);">
        <div class="col-9 pr-0" style="border-right: 1px solid rgba(0,0,0,.1);position: relative">
          <h2 style="position: absolute;">发现</h2>
          <ngb-tabset justify="end" #t="ngbTabset" (tabChange) = "tabChange($event)">
            <ngb-tab id="latest">
              <ng-template ngbTabTitle>最新</ng-template>
              <ng-template ngbTabContent>
                <post-list category="latest" [topicName]="topicName"></post-list>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="recommend">
              <ng-template ngbTabTitle>推荐</ng-template>
              <ng-template ngbTabContent>
                <post-list category="recommend" [topicName]="topicName"></post-list>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="hot">
              <ng-template ngbTabTitle>热门</ng-template>
              <ng-template ngbTabContent>
                <post-list category="hot" [topicName]="topicName"></post-list>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="comment">
              <ng-template ngbTabTitle>等待回复</ng-template>
              <ng-template ngbTabContent>
                <post-list category="comment" [topicName]="topicName"></post-list>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        <div class="col-3">
          <div class="row mt-1">
            <div class="clearfix col-12">
              <h5>热门话题</h5>
              <hr>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
