<div class="container">
  <div class="row row_abbr">
    <div class="row">
      <div class="col-sm-1">
        <img class="topic_icon"
             src="http://spring4all.com/uploads/topic/20170528/86136582be97b4e3bd24921048b630d9_50_50.jpg" alt="">
      </div>
      <div class="col-sm-5"><h3 class="font-size20">Spring Boot</h3></div>
    </div>

    <!--左边栏-->
    <div class="col-sm-12 col-md-9 content_left margin_top40">
      <!--导航菜单-->
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">全部内容</a></li>
        <li role="presentation" class=""><a href="#">精华</a></li>
        <li role="presentation" class=""><a href="#">推荐</a></li>
        <li role="presentation" class=""><a href="#">问题</a></li>
        <li role="presentation" class=""><a href="#">文章</a></li>
        <li role="presentation" class=""><a href="#">关于</a></li>
        <div class="float_right topic_search">
          <div class=""></div>
          <input type="text" class="form-control " placeholder="Search">
        </div>
      </ul>
      <!--list-->
      <div class="row padding_r15">
        <div class="item row">
          <div class="col-xs-1"><img class="img40 margin_top20"
                                     src="http://spring4all.com/static/common/avatar-max-img.png" alt=""></div>
          <div class="col-xs-10">
            <a href="#" routerLink="/article/1"><h4>SpringData ES中一些底层原理的分析</h4></a>
            <code>之前写过一篇SpringData ES 关于字段名和索引中的列名字不一致导致的查询问题，顺便深入学习下Spring Data Elasticsearch。
              Spring Data Elasticsearch是Spring Data针对Elasticsearch的实现。
              它跟Spring Data一样，提供了Repository接口，我们只需要定义一个新的接口并继承这个Repository接口，然后就可以注入这个新的接口使用了。
              定义接口： @Repository public interface TaskRepository extends ElasticsearchRepository&lt;Task,
              String&gt;</code>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="item row">
          <div class="col-xs-1"><img class="img40 margin_top20"
                                     src="http://spring4all.com/static/common/avatar-max-img.png" alt=""></div>
          <div class="col-xs-10">
            <a href=""><h4>SpringData ES中一些底层原理的分析</h4></a>
            <code>之前写过一篇SpringData ES 关于字段名和索引中的列名字不一致导致的查询问题，顺便深入学习下Spring Data Elasticsearch。
              Spring Data Elasticsearch是Spring Data针对Elasticsearch的实现。
              它跟Spring Data一样，提供了Repository接口，我们只需要定义一个新的接口并继承这个Repository接口，然后就可以注入这个新的接口使用了。
              定义接口： @Repository public interface TaskRepository extends ElasticsearchRepository&lt;Task,
              String&gt;</code>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="item row">
          <div class="col-xs-1"><img class="img40 margin_top20"
                                     src="http://spring4all.com/static/common/avatar-max-img.png" alt=""></div>
          <div class="col-xs-10">
            <a href=""><h4>SpringData ES中一些底层原理的分析</h4></a>
            <code>之前写过一篇SpringData ES 关于字段名和索引中的列名字不一致导致的查询问题，顺便深入学习下Spring Data Elasticsearch。
              Spring Data Elasticsearch是Spring Data针对Elasticsearch的实现。
              它跟Spring Data一样，提供了Repository接口，我们只需要定义一个新的接口并继承这个Repository接口，然后就可以注入这个新的接口使用了。
              定义接口： @Repository public interface TaskRepository extends ElasticsearchRepository&lt;Task,
              String&gt;</code>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="item row">
          <div class="col-xs-1"><img class="img40 margin_top20"
                                     src="http://spring4all.com/static/common/avatar-max-img.png" alt=""></div>
          <div class="col-xs-10">
            <a href=""><h4>SpringData ES中一些底层原理的分析</h4></a>
            <code>之前写过一篇SpringData ES 关于字段名和索引中的列名字不一致导致的查询问题，顺便深入学习下Spring Data Elasticsearch。
              Spring Data Elasticsearch是Spring Data针对Elasticsearch的实现。
              它跟Spring Data一样，提供了Repository接口，我们只需要定义一个新的接口并继承这个Repository接口，然后就可以注入这个新的接口使用了。
              定义接口： @Repository public interface TaskRepository extends ElasticsearchRepository&lt;Task,
              String&gt;</code>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="item row">
          <div class="col-xs-1"><img class="img40 margin_top20"
                                     src="http://spring4all.com/static/common/avatar-max-img.png" alt=""></div>
          <div class="col-xs-10">
            <a href=""><h4>SpringData ES中一些底层原理的分析</h4></a>
            <code>之前写过一篇SpringData ES 关于字段名和索引中的列名字不一致导致的查询问题，顺便深入学习下Spring Data Elasticsearch。
              Spring Data Elasticsearch是Spring Data针对Elasticsearch的实现。
              它跟Spring Data一样，提供了Repository接口，我们只需要定义一个新的接口并继承这个Repository接口，然后就可以注入这个新的接口使用了。
              定义接口： @Repository public interface TaskRepository extends ElasticsearchRepository&lt;Task,
              String&gt;</code>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="item row">
          <div class="col-xs-1"><img class="img40 margin_top20"
                                     src="http://spring4all.com/static/common/avatar-max-img.png" alt=""></div>
          <div class="col-xs-10">
            <a href=""><h4>SpringData ES中一些底层原理的分析</h4></a>
            <code>之前写过一篇SpringData ES 关于字段名和索引中的列名字不一致导致的查询问题，顺便深入学习下Spring Data Elasticsearch。
              Spring Data Elasticsearch是Spring Data针对Elasticsearch的实现。
              它跟Spring Data一样，提供了Repository接口，我们只需要定义一个新的接口并继承这个Repository接口，然后就可以注入这个新的接口使用了。
              定义接口： @Repository public interface TaskRepository extends ElasticsearchRepository&lt;Task,
              String&gt;</code>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>

    <!--右边栏-->
    <div class="col-sm-12 col-md-3">
      <div>
        <div class="sile_head">
          <!--<a href="" class="float_right">更多👉</a>-->
          <h5>话题描述</h5>
        </div>
        <div class="sile_body">
          <div>快速构建并运行 Spring 应用程序</div>
        </div>
      </div>

      <div class="separation"></div>

      <div>
        <div class="sile_head">
          <!--<a href="" class="float_right">更多👉</a>-->
          <h5>相关话题</h5>
        </div>
        <div class="sile_body">
          <!--TODO-->
        </div>
      </div>

      <div class="separation"></div>

      <div>
        <div class="sile_head">
          <!--<a href="" class="float_right">更多👉</a>-->
          <h5>最佳回复者</h5>
        </div>
        <div class="sile_body">
          <div class="row">
            <div class="row user_item">
              <div class="col-xs-2 user_avatar"><img class="img32" src="https://avatars2.githubusercontent.com/u/16028288?v=3&s=52" alt=""></div>
              <div class="col-xs-10 user_name">
                <div class=""><a href="">rosymond.com</a></div>
                <div class="font-size12">获得3次赞同, 0次感谢</div>
              </div>
            </div>
            <div class="row user_item">
              <div class="col-xs-2 user_avatar"><img class="img32" src="https://avatars2.githubusercontent.com/u/16028288?v=3&s=52" alt=""></div>
              <div class="col-xs-10 user_name">
                <div class=""><a href="">rosymond.com</a></div>
                <div class="font-size12">获得3次赞同, 0次感谢</div>
              </div>
            </div>
            <div class="row user_item">
              <div class="col-xs-2 user_avatar"><img class="img32" src="https://avatars2.githubusercontent.com/u/16028288?v=3&s=52" alt=""></div>
              <div class="col-xs-10 user_name">
                <div class=""><a href="">rosymond.com</a></div>
                <div class="font-size12">获得3次赞同, 0次感谢</div>
              </div>
            </div>
            <div class="row user_item">
              <div class="col-xs-2 user_avatar"><img class="img32" src="https://avatars2.githubusercontent.com/u/16028288?v=3&s=52" alt=""></div>
              <div class="col-xs-10 user_name">
                <div class=""><a href="">rosymond.com</a></div>
                <div class="font-size12">获得3次赞同, 0次感谢</div>
              </div>
            </div>
            <div class="row user_item">
              <div class="col-xs-2 user_avatar"><img class="img32" src="https://avatars2.githubusercontent.com/u/16028288?v=3&s=52" alt=""></div>
              <div class="col-xs-10 user_name">
                <div class=""><a href="">rosymond.com</a></div>
                <div class="font-size12">获得3次赞同, 0次感谢</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="separation"></div>

      <div>
        <div class="sile_head">
          <!--<a href="" class="float_right">更多👉</a>-->
          <h5>301 人关注该话题</h5>
        </div>
        <div class="sile_body">
          <div class="row">
            <div class="col-xs-1"><img src="http://spring4all.com/uploads/avatar/000/00/00/29_avatar_mid.jpg"
                                       class="img24" alt=""></div>
            <div class="col-xs-1"><img src="http://spring4all.com/uploads/avatar/000/00/00/29_avatar_mid.jpg"
                                       class="img24" alt=""></div>
            <div class="col-xs-1"><img src="http://spring4all.com/uploads/avatar/000/00/00/29_avatar_mid.jpg"
                                       class="img24" alt=""></div>
            <div class="col-xs-1"><img src="http://spring4all.com/uploads/avatar/000/00/00/29_avatar_mid.jpg"
                                       class="img24" alt=""></div>
            <div class="col-xs-1"><img src="http://spring4all.com/uploads/avatar/000/00/00/29_avatar_mid.jpg"
                                       class="img24" alt=""></div>
            <div class="col-xs-1"><img src="http://spring4all.com/uploads/avatar/000/00/00/29_avatar_mid.jpg"
                                       class="img24" alt=""></div>
            <div class="col-xs-1"><img src="http://spring4all.com/uploads/avatar/000/00/00/29_avatar_mid.jpg"
                                       class="img24" alt=""></div>
            <div class="col-xs-1"><img src="http://spring4all.com/uploads/avatar/000/00/00/29_avatar_mid.jpg"
                                       class="img24" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
