.row_abbr {
  padding: 0 80px;
}

.margin_top15 {
  margin-top: 15px;
}

.margin_top5 {
  margin-top: 5px;
}

.margin_left5 {
  margin-left: 5px;
}

.padding0_9 {
  padding: 0 9px 0 0 !important;
}

.font-size12 {
  font-size: 12px;
}

.font666 {
  color: #666;
}

.margin_top10 {
  margin-top: 10px;
}

.custome_nav_tab li {
  float: right;
}

.custome_nav_tab li a {
  color: #666;
}

.custome_nav_tab h2 {
  font-size: 20px;
  margin: 0;
  top: 10px;
  position: absolute;
  left: 20px;
}

.custome_nav_tab .active a {
  border: 0;
  border-bottom: 2px solid #155faa;
  font-weight: bold;
}

.dis_list {

}

.dis_content {
  padding: 0 10px;
}

.item_header {
  margin-top: 10px;
}

.dis_item {
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
}

.dis_item p {
  font-size: 12px;
}

.img40 {
  width: 40px;
  height: 40px;
}

.img24 {
  width: 24px;
  height: 24px;
}

.img32 {
  width: 32px;
  height: 32px;
}

.content_left {
  border-right: 1px solid #f2f2f2;
}

.float_right {
  float: right !important;
}

.float_left{
  float: left !important;
}

.sile_body .img32 {
  margin: 10px 10px 5px 0;
}

.sile_body .label {
  line-height: 3;
}

.sile_body .row {
  margin: 0;
}

.sile_item {
  float: none;
}

.border_top {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
}

.clear {
  clear:both;
}

.separation {
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
}

.line_h2 {
  line-height: 2;
}
