<div class="container my-5">
  <div class="col row justify-content-center">
    <div class="col-11 pt-2" style="background-color: #ffffff;border-radius: 5px;">
      <div class="row" style="border-bottom: 1px solid rgba(0,0,0,.1);">

        <div class="col-9" style="border-right: 1px solid rgba(0,0,0,.1);position: relative">
          <div *ngIf="post.summary">
            <markdown [data]="post.title"></markdown>
            <div>
              <h5>
                <div *ngFor="let tag of post.tags" class="badge badge-pill badge-default mr-2 my-1">
                  {{tag.name}}
                </div>
              </h5>
            </div>
            <hr>
            <markdown [data]="post.summary"></markdown>
          </div>

        </div>

        <div class="col-3">

        </div>

      </div>
    </div>
  </div>
</div>
