<div class="container">
  <div class="col-xs-offset-1 col-xs-7 article_context">

    <div class="row margin_top15">
      <div class="labels">
        <div class="label label-primary">Spring Boot</div>
        <div class="label label-primary">Spring</div>
        <div class="label label-primary">Angular 4</div>
      </div>
    </div>

    <div class="row">
      <h3>SpringData ES中一些底层原理的分析</h3>
      <div class="separation"></div>
      <!--文章正文-->
      <div>Body...............................</div>
      <!--文章末尾-->
      <div class="issue_end">
        <div class="float_left font-size12 font666">
          <span>1天前</span>
          <span class="margin_left5">添加评论</span>
        </div>
        <span class="float_right">
          <a href="">分享</a>
        </span>
      </div>
    </div>

    <div class="row">
      <h3>2个回复-TODO</h3>
      <div class="separation" style="margin-bottom: 0"></div>
      <div class="row">
        <div class="row comment_item">
          <div class="col-xs-1"><img class="img40"
                                     src="http://spring4all.com/uploads/avatar/000/00/04/53_avatar_mid.jpg" alt="">
          </div>
          <div class="col-xs-10">
            <div class="comment_username"><a href="">泥瓦匠</a></div>
            <div class="comment_body">学习了，特别特别赞~ 特赞~</div>
            <div class="comment_time">11分钟前</div>
          </div>
        </div>
        <div class="row comment_item">
          <div class="col-xs-1"><img class="img40"
                                     src="http://spring4all.com/uploads/avatar/000/00/04/53_avatar_mid.jpg" alt="">
          </div>
          <div class="col-xs-10">
            <div class="comment_username"><a href="">泥瓦匠</a></div>
            <div class="comment_body">学习了，特别特别赞~ 特赞~</div>
            <div class="comment_time">11分钟前</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--右边栏-->
  <div class="col-xs-3">
    <div>
      <div class="sile_head">
        <h5>发起人</h5>
      </div>
      <div class="sile_body">
        <div class="row sile_item">
          <div class="col-xs-2 sile_item_header">
            <img class="img40" src="http://spring4all.com/uploads/avatar/000/00/04/53_avatar_mid.jpg" alt="">
          </div>
          <div class="col-xs-10 sile_item_body">
            <div class="font-size12"><a href="">format_coder</a></div>
            <div class="font-size12 line_h2">fangjian0423.github.io</div>
          </div>
        </div>
      </div>
    </div>

    <div class="separation"></div>

    <div>
      <div class="sile_head">
        <h5>相关问题</h5>
      </div>
      <div class="sile_body">
        <div class="font-size12 margin_top5"><a href="">Spring Boot 之 HelloWorld 详解</a></div>
        <div class="font-size12 margin_top5"><a href="">Spring Boot 之 HelloWorld 详解</a></div>
        <div class="font-size12 margin_top5"><a href="">Spring Boot 之 HelloWorld 详解</a></div>
      </div>
    </div>

    <div class="separation"></div>

    <div>
      <div class="sile_head">
        <!--<a href="" class="float_right">更多👉</a>-->
        <h5>问题状态</h5>
      </div>
      <div class="sile_body">
        <div class="text_item">
          <span>最新活动:</span>
          <span>19小时前</span>
        </div>
        <div class="text_item">
          <span>浏览:</span>
          <span>106</span>
        </div>
        <div class="text_item">
          <span>关注:</span>
          <span>6人</span>
        </div>
      </div>
    </div>

    <div class="separation"></div>
  </div>
</div>
