.font_12 {
  font-size: 12px;
}

.font_14 {
  font-size: 14px !important;
}

.register_bg {
  background-color: #ff7c76;
  color: #ffffff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.title_:hover {
  text-decoration: none !important;
  color: #999 !important;
}

.title_:visited {
  text-decoration: none;
  color: #fff
}
