<div class="container">
  <div class="row row_abbr">
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="" class="thumbnail">
        <div class="row">
          <div class="col-xs-4"><img class="margin_top15 margin_left5"
                                     src="http://spring4all.com/uploads/nav_menu/4.jpg" alt=""></div>
          <div class="col-xs-8 caption padding0_9">
            <h5>Spring Framework</h5>
            <p class="font-size12">提供依赖注入、事务、Web应用、数据访问等模块</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
